# Whether if detailed errors and stack traces should be displayed to the user.
ERROR_DETAILS=1

# The minimum level to be logged.
# By default, HTTP exceptions in the 400 range logs as ERROR,
# while all other exceptions (resulting in 500 response codes) logs as CRITICAL.
LOG_LEVEL=info
# Target log stream.
LOG_STREAM=php://stderr
# Can also be a file path relative to application root directory:
#LOG_STREAM=var/log/default.log

# Route compilation and caching
#ROUTING_CACHE_DIR=var/cache/routing

# Dependency injection compilation and caching
#DI_CACHE_DIR=var/cache/di

# Templates/views compilation and caching
#TWIG_CACHE_DIR=var/cache/twig