# Whether if detailed errors and stack traces should be displayed to the user.
ERROR_DETAILS=1

# The minimum level to be logged for HTTP requests.
# Most HTTP exceptions in the 400 range is configured to log as NOTICE,
# while other uncaught exceptions (resulting in 500 response codes) logs as CRITICAL.
LOG_LEVEL=warning
# Target log stream.
LOG_STREAM=php://stderr
# Can also be a file path relative to application root directory:
#LOG_STREAM=var/log/default.log

# Route compilation and caching
#ROUTING_CACHE_DIR=var/cache/routing

# Dependency injection compilation and caching
#DI_CACHE_DIR=var/cache/di

# Templates/views compilation and caching
#TWIG_CACHE_DIR=var/cache/twig

# Global CORS configuration
#CORS_ALLOW_ORIGIN=https://example.org
#CORS_ALLOW_METHODS=GET,POST,OPTIONS
#CORS_ALLOW_HEADERS=Api-Key
#CORS_EXPOSE_HEADERS=Customer-ID
#CORS_ALLOW_CREDENTIALS=0
#CORS_MAX_AGE=300