<section>
    <h3 id="certifications">Professional Certifications</h3>

    <table class="striped">
        <thead>
        <tr>
            <th>Issuer</th>
            <th>Name</th>
            <th>Issued</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for cert in hasCertification %}
            <tr>
                <td>{{ cert.issuedBy.name }}</td>
                <td>{{ cert.name }}</td>
                <td>{{ cert.validFrom }}</td>
                <td>
                    <span data-tooltip="{{ cert.expires ? "Expiration " ~ cert.expires : "No expiration" }}">
                        {% if cert.expires and date(cert.expires) < date() %}
                            🔴
                        {% else %}
                            🟢
                        {% endif %}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
<hr>