<section>
    <h3 id="speaking">Public Speaking</h3>

    <table class="striped">
        <thead>
        <tr>
            <th>Event</th>
            <th>Occasions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in performerIn %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.startDate|join('\n')|nl2br }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
<hr>